
body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar {
  margin-bottom: 20px;
}




.ticTacField {
	overflow: hidden;
}

.ticTacRow {
	clear: both;
}

.ticTacCell {
	border: 1px solid #ccc;
	text-align: center;
        height: 15%;
        padding-top: 40px;
}

.ticTacCell a {
	position: absolute;
        text-align: center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0
}

.ticTacCell a:hover {
	background: #aaa;
}

.ticTacCell.winner {
	background: #ffc;
}

.icon {
	display: inline-block;
}

.player1:after {
	content: 'X';
	font-weight: bold;
        font-size: 25px;
	color: blue;
}

.player2:after {
	content: 'O';
	font-weight: bold;
        font-size: 25px;
	color: green;
}