
body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar {
  margin-bottom: 20px;
}

.ticTacField {
	overflow: hidden;
}

.ticTacRow {
	clear: both;
}

.ticTacCell {
	border: 1px solid #ccc;
	text-align: center;
        height: 15%;
/*        padding-top: 40px;*/
}

.ticTacCell a {
	position: absolute;
        text-align: center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0
}

.ticTacCell a:hover {
	background: #aaa;
}

.ticTacCell.winner {
	background: #ffc;
}

.icon {
	display: inline-block;
}

.player1:after {
	content: 'X';
	font-weight: bold;
        font-size: 25px;
	color: blue;
}

.player2:after {
	content: 'O';
	font-weight: bold;
        font-size: 25px;
	color: green;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */

    .ticTacCell {
        height: 15%;
        padding-top: 10px; 
    }

}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) 
and (orientation : landscape) {
/* STYLES GO HERE */

    .ticTacCell {
        height: 30%;
    }
    
}
 
@media only screen
and (min-width : 321px) 
and (orientation : portrait) {    
/* STYLES GO HERE */

    .ticTacCell {
        height: 15%;

    }
    
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */

    .ticTacCell {
        height: 10%;
    }
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */

    .ticTacCell {
        height: 10%;

    }
    
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
    .ticTacCell {
        height: 15%;
            padding-top: 30px;

    }
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
    .ticTacCell {
        height: 15%;
        padding-top: 40px;
    }
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
    .ticTacCell {
        height: 15%;

    }
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
    .ticTacCell {
        height: 15%;
        padding-top: 40px;

    }
}
 

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
    .ticTacCell {
        height: 15%;

    }
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
    .ticTacCell {
        height: 25%;

    }
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
    .ticTacCell {
        height: 10%;

    }
}